
:root {
  --blue: #2c98f0;
  --red: #ec5453;
  --yellow: #f9bf3f;
  --purbel :#a84cb8;
  --green: #2fa499;
  --navy:#4054b2 ;
}

html, body {
  overflow: hidden;
  background-color: #ffffff;
  font-family: 'Playfair Display','Georgia',serif;
}

@media (max-width: 768px) { 
    html,body {
        margin-top: 1rem;
    }
  }    
